@{
    ViewBag.Title = "xác nhận quên mật khẩu";
}
<section class="section-main shadow-sm padding-y-sm">
    <div class="container">
        <header class="section-heading heading-line">
            <h4 class="title-section bg-white text-uppercase">@ViewBag.Title.</h4>
        </header>
        <div>
            <p>
                Vui lòng kiểm tra email của bạn để thiết lập lại mật khẩu của bạn.
            </p>
        </div>
    </div>
</section>

