@{
    ViewBag.Title = "Xác nhận đặt lại mật khẩu";
}


<section class="section-main shadow-sm padding-y-sm">
    <div class="container">
        <header class="section-heading heading-line">
            <h4 class="title-section bg-white text-uppercase">@ViewBag.Title.</h4>
        </header>
        <div>
            <p>
                Mật khẩu của bạn đã được thiết lập lại. Vui lòng nhấn vào @Html.ActionLink("đây", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) để đăng nhập.
            </p>
        </div>
    </div>
</section>
