
@{
    ViewBag.Title = "Bán chạy nhất";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-7">
            <h1>
                @ViewBag.Title
            </h1>
        </div>

    </div>
</div>